<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- testimonial-box -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
  <!-- testimonial-box-end  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="../static/public/utilityClass.css">
  <link rel="stylesheet" href="../static/public/about.css">

</head>

<body>
  <div class="navigation">
    <div class="container">
      <div class="navbar flex">
        <div class="navbar-logo">
          <a href="#">
            <h4 class="logo" style="font-weight: bold;">Recipe<span class="color">Runner</span></h4>
          </a>
        </div>
        <div class="sec-2">
          <div class="nav-items flex">
            <div class="nav-item"> <a href="/home">Home</a></div>
            <div class="nav-item"> <a href="#">About</a></div>
            <div class="nav-item"> <a href="/contact">Contact Us</a></div>
            <div class="nav-item"> <a href="https://github.com/RohanSingh8274/Recipe-Runner">Source Code</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class=" section-1 flex">
        <div class="section-1-text">
          <h1 class="color">
            From pixels to flavors, <br> unlock the magic of cooking <br> with our image-to-recipe converter.
          </h1>
          <p>
            Unlock a world of flavors with a recipe generator that tailors culinary creations just for
            you.Let artificial intelligence be your sous chef and create delicious recipes at the touch of a
            button.
          </p>
        </div>

      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="section-2">
        <h2>Unleash your culinary creativity with a <span class="color">recipe generator</span> powered by <span
            class="color">AI</span> </h2>
        <div class="link">
          <a href="/tryMe" class="link-a">Try</a>
        </div>
      </div>
    </div>
  </section>
  <section class="opportunities">
    <div class="container">
      <div class="opportunities__content w-105">
        <div class="opportunities__head">
          <h2 class="opportunities__title">In Just 3 Steps </h2>
          <p class="opportunities__description">A whole new way to discover recipes! Let our app elevate your
            cooking journey by harnessing the power of AI to convert food images into delectable recipes
            that'll impress your taste buds.</p>
        </div>
        <div class="opportunities__body">
          <div class="opportunity">
            <i class="fa fa-user-circle" style="font-size: 4rem; color: #FF2768;margin: 18px;"></i>
            <h4 class="opportunity__title">Capture</h4>
            <p class="opportunity__description">
              Use your smartphone or camera to capture a clear, well-lit image of the food you want to
              turn into a recipe. Make sure to focus on the main ingredients and presentation to ensure
              accurate conversion.
            </p>
          </div>

          <div class="opportunity active">
            <i class="fa fa-upload" style="font-size: 4rem;margin: 18px;"></i>
            <h4 class="opportunity__title">Upload</h4>
            <p class="opportunity__description">
              Visit our user-friendly web app and upload the image you captured. Our advanced image
              recognition technology will analyze the photo, extracting key details and identifying the
              ingredients used.
            </p>
          </div>
          <div class="opportunity">
            <i class="fa fa-download" style="font-size: 4rem; color: #FF2768;margin: 18px;"></i>
            <h4 class="opportunity__title">Output</h4>
            <p class="opportunity__description">
              Within seconds, you'll receive the exciting result! Our app will generate a comprehensive
              recipe based on the uploaded image, complete with ingredient quantities, cooking
              instructions, and additional tips to help you recreate the dish exactly as pictured. Get
              ready to embark on a culinary adventure like no other! </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <section class="how-is-works w-120">
      <div class="works__content">
        <div class="works__head">
          <h2 class="works__title">How it works</h2>
          <p class="works__description">
            The recipe generator from food image is an innovative system that uses advanced computer vision and machine
            learning techniques to analyze food images and generate corresponding recipes. By leveraging the power of
            artificial intelligence,
            this system has the potential to revolutionize the way people discover and cook new dishes, making it a
            valuable tool for both home cooks and professional chefs.
          </p>
        </div>
        <div class="works__body">
          <ul class="form_progressbar">
            <li class="progressbar__step active" data-step="1">01</li>
            <li class="progressbar__step" data-step="2">02</li>
            <li class="progressbar__step" data-step="3">03</li>
            <li class="progressbar__step" data-step="4">04</li>
          </ul>
        </div>
        <div class="works__footer">
          <div class="works__step__content first_step">
            <h3 class="works__step_title text"> Image processing</h3>
            <p class="works__step_description">
              The system applies image processing techniques to preprocess the image, such as resizing, cropping, and
              filtering, to improve the image quality and remove any noise or irrelevant information.
            </p>
          </div>
          <div class="works__step__content">
            <h3 class="works__step_title text">Recipe generation</h3>
            <p class="works__step_description">
              The system uses a recipe generation algorithm that takes into account the ingredients, their quantities, and
              their nutritional information to generate a recipe that is similar to the input food dish. This is typically
              done using machine learning techniques such as natural language processing (NLP) and neural networks.
            </p>
          </div>
          <div class="works__step__content">
            <h3 class="works__step_title text">Recipe outpu</h3>
            <p class="works__step_description">
              The system outputs the generated recipe, which includes the list of ingredients, quantities, and
              instructions for preparing the dish.
            </p>
          </div>
          <div class="works__step__content">
            <h3 class="works__step_title text"> Overall</h3>
            <p class="works__step_description">
              Overall, the recipe generator from food image is a complex system that involves multiple steps and
              techniques from the fields of computer vision, machine learning, and natural language processing. It has the
              potential to revolutionize the way people discover and cook new recipes, and can be a valuable tool for both
              home cooks and professional chefs.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <div class="sec-heading text-center">
            <h6>Team Members</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonial-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="team-slider owl-carousel">
              <div class="single-box text-center">
                <div class="img-area"><img alt="" class="img-fluid move-animation"
                    src="../static/assets/kutubuddin.png"></div>
                <div class="info-area">
                  <h4>Kuttubuddin Bhangi</h4>
                  <p>Backend Developer</p>
                  <p>Hi! I am a student at <span class="color">CIEM</span>.I love to work with backend technologies.Have a good knowledge about Java.</p>
                </div>
              </div>
              <div class="single-box text-center">
                <div class="img-area"><img alt="" class="img-fluid move-animation"
                    src="../static/assets/Rohan.png"></div>
                <div class="info-area">
                  <h4>Rohan Singh</h4>
                  <p>Full-stack Developer</p>
                  <p>Enthusiastic,fast learner,hard working,passionate,friendly .I like to code because I believe almost everything can be made easier using technology. </p>
                </div>
              </div>
              <div class="single-box text-center">
                <div class="img-area"><img alt="" class="img-fluid move-animation"
                    src="../static/assets/Shivam.png"></div>
                <div class="info-area">
                  <h4>Shivam Kumar</h4>
                  <p>Front-end Developer</p>
                  <p>Hi! this is shivam kumar. I am a final year student and loves to work with front-end technologies.</p>
                </div>
              </div>
              <div class="single-box text-center">
                <div class="img-area"><img alt="" class="img-fluid move-animation"
                    src="../static/assets/Vishal.png"></div>
                <div class="info-area">
                  <h4>Vishal Prasad Shaw</h4>
                  <p>Design & Research</p>
                  <p>I can Research about anything given to me.Hi! this is Vishal Shaw and my role was to research about the topic</p>
                </div>
              </div>
              <div class="single-box text-center">
                <div class="img-area"><img alt="" class="img-fluid move-animation"
                    src="../static/assets/Raghib.png"></div>
                <div class="info-area">
                  <h4>Raghib Jawed</h4>
                  <p>Research</p>
                  <p>Hi! I am a student at <span class="color">CIEM</span>.My role was to research and make the documentation ready.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>








  <script src="../static/public/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js">
  </script>
  <script>
    $('.team-slider').owlCarousel({
      loop: true,
      nav: false,
      autoplay: true,
      autoplayTimeout: 5000,
      smartSpeed: 450,
      margin: 20,
      responsive: {
        0: {
          items: 1
        },
        768: {
          items: 2
        },
        991: {
          items: 3
        },
        1200: {
          items: 3
        },
        1920: {
          items: 3
        }
      }
    });
  </script>
  
</body>

</html>