<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/public/utilityClass.css">
  <link rel="stylesheet" href="../static/public/contact.css">
</head>

<body>
  <div class="navigation">
    <div class="container">
      <div class="navbar flex">
        <div class="navbar-logo">
          <h4 class="logo">Recipe<span class="color">Runner</span></h4>
        </div>
        <div class="sec-2">
          <div class="nav-items flex">
            <div class="nav-item"> <a href="/home">Home</a></div>
            <div class="nav-item"> <a href="/about">About</a></div>
            <div class="nav-item"> <a href="/contact">Contact Us</a></div>
            <div class="nav-item"> <a href="https://github.com/">Source Code</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="Intro">
      <div class="title">
        <h1>CONTACT DETAILS</h1>
      </div>
      <p>This project is made by the final year students of <span class="color">CALCUTTA INSTITUTE OF ENGINEERING AND MANAGEMENT(CIEM)</span>.The team working on this project consist of <span class="color">Rohan Singh, Shivam Kumar, Kuttubuddin Bhangi, Vishal Prasad Shaw, Raghib Jawed</span>  under the valuable guidance of <span class="color">Miss Swagata Das</span>.</p>
    </div>
    <div class="main">
      <p>For any issues regaring the working of the project or If you like to share your feedback.You can reach us out at <span class="color">Rohansingh8274@gmail.com</span>.</p>
    </div>
  </div>



</body>

</html>